html {
    min-height: 100%;
    background: lightgrey;
}

body {
    background: #e8e8e8;
}

#logo {
    height: 32px;
    width: auto;
}

#navbar {
    height: 40px;
}

#wrapper {
    padding: 30px 100px;
    background: #e8e8e8;
}

h2 {
    font-size: 1.5em;
}

form {
    margin: 30px 0;
}

.error-msg {
    padding: 10px;
    background: red;
    margin: 5px 0;
    color: white;
}

.post_title {
    font-size: 1.2em;
}

.post {
    border-radius: 0.5em;
    padding: 10px;
    margin: 20px 0;
    background: white;
}

.category-link {
    display: block;
    margin: 15px 0;
}

#not-found {
    font-size: 5em;
    text-align: center;
    margin: 40px 0;
}

#burger {
    padding-right: 10px;
    width: 40px;
}

.post_date {
    font-size: 0.8em;
    color: grey;
    margin-top: 8px;
}
