#post_wrapper {
    padding: 10px;
    background: white;
    margin-bottom: 30px;
    border-radius: 0.5em;
}

#post_title {
    font-size: 2em;
}

#new_comment_form {
    margin-bottom: 20px;
}

.comment {
    background: white;
    border-radius: 0.5em;
    padding: 10px;
    margin-bottom: 10px;
}

.comment_date {
    font-size: 0.8em;
    color: grey;
}

.ui.primary.button.reply_button {
    font-size: 0.6em;
}

.level-1 {
    margin-left: 20px;
}

.level-2 {
    margin-left: 40px;
}

.level-3 {
    margin-left: 60px;
}

.level-4 {
    margin-left: 80px;
}
