<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous" defer="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="all"/>
    <script src="/static/js/base.js"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div id="navbar" class="ui top menu">
      <div class="item">
        <a href="/">
          <img id="logo" src="/static/img/logo.png" alt="Everyone"/>
        </a>
      </div>
      <a class="item" href="/">Home</a>
      <div class="right menu">
        {% if username %}
          <a class="item" href="/logout">{{ username }} - Logout</a>
        {% else %}
          <a class="item" href="/register">Register</a>
          <a class="item" href="/login">Login</a>
        {% endif %}
      </div>
    </div>
    <div id="wrapper">
      {% block body %}{% endblock body %}
    </div>
  </body>
</html>
