{% extends "base.html" %}
{% block title %}{{ category_name }}{% endblock title %}
{% block body %}
<h2>{{ category_name }}</h2>
{% if username %}
  <form action="/c/{{ category_name }}" method="post" class="ui form">
    <div class="field">
      <label>Title:</label>
      <input name="title" type="text" placeholder="Title"/>
    </div>
    <div class="field">
      <label>Content:</label>
      <input name="content" type="text" placeholder="Content"/>
    </div>
    <div class="field">
      <label>Link:</label>
      <input name="img" type="text" placeholder="Link"/>
    </div>
    <input type="hidden" name="category_id" value="{{ category_id }}"/>
    <button class="ui button" type="submit">Submit</button>
  </form>
{% endif %}
<h2>Posts</h2>
{% for item in posts %}
  <div class="post">
    <p>By <a href="/u/{{ item.1.username }}">{{ item.1.username }}</a>:</p>
    <a class="post_title" href="/c/{{ category_name }}/{{ item.0.id }}">{{ item.0.title }}</a>
    <p class="post_date">{{ item.0.created_at }}</p>
  </div>
  <button class="likebtn" data-post-id="{{ item.0.id }}" data-category="{{ category_name }}">Like</button>
{% endfor %}
{% endblock body %}
