{% extends "base.html" %}
{% block title %}Home - Everyone{% endblock title %}
{% block body %}
<h2>Home</h2>
{% if username %}
  <p>Hello, {{ username }}</p>
  <a href="/new_category">Create a new category</a>
{% endif %}
{% for cat in categories %}
  <a class="category-link" href="/c/{{ cat.name }}">/c/{{cat.name }}</a>
{% endfor %}
{% endblock body %}
