{% extends "base.html" %}
{% block title %}Login - Everyone{% endblock title %}
{% block body %}
<h2>Login</h2>
<form action="/login" method="post" class="ui form">
  {% for msg in flashes %}
  <p class="error-msg">{{ msg }}</p>
  {% endfor %}
  <div class="field">
    <label>Username:</label>
    <input class="input" name="username" type="text" placeholder="Username"/>
  </div>
  <div class="field">
    <label>Password:</label>
    <input class="input" name="password" type="password" placeholder="Password"/>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
{% endblock body %}
