{% extends "base.html" %}
{% block title %}New Category - Everyone{% endblock %}
{% block body %}
<form action="/new_category" method="post" class="ui form">
  <div class="field">
    <label>Name:</label>
    <input class="input" name="name" type="text" placeholder="Name"/>
  </div>
  <div class="field">
    <label>Description:</label>
    <input class="input" name="description" type="text" placeholder="Description"/>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
{% endblock body %}
