{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/css/post.css" type="text/css" media="all">
<script src="/static/js/post.js"></script>
{% endblock head %}
{% block body %}
<div id="post_wrapper">
  <h2 id="post_title">{{ post.title }}</h2>
  {% if post.content %}
  <p id="post_content">{{ post.content }}</p>
  {% endif %}
  <p id="poster">Posted by <a href="/u/{{ poster.username }}">{{ poster.username }}</a></p>
</div>
{% if username %}
<div id="new_comment_form" class="ui form">
  <div class="field">
    <label>Enter a comment:</label>
    <textarea id="new_comment_content_0" name="comment" rows="2"></textarea>
  </div>
  <button class="ui button new_comment" data-parent-id="0" data-post-id="{{ post_id }}" data-category-name="{{ category }}">Submit</button>
</div>
{% endif %}
<p>Comments:</p>
<div id="comments_wrapper">
  {% for comment in comments %}
    <div class="comment level-{{ comment.level }}">
      <p class="commenter">By <a href="/u/{{ comment.comment.poster }}">{{ comment.comment.poster }}</a>:</p>
      <p class="comment_content">{{ comment.comment.content }}</p>
      <p class="comment_date">{{ comment.comment.created_at }}</p>
      <button class="ui primary button reply_button" data-comment-id="{{ comment.comment.id }}" data-post-id="{{ post_id }}" data-category-name="{{ category }}">Reply</button>
    </div>
  {% endfor %}
</div>
{% endblock body %}
